{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console"  : 0,
    "no-alert"    : 0,
    "no-debugger" : 1,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "bracketSpacing": true
      }
    ],
    // https://eslint.org/docs/user-guide/migrating-to-6.0.0
    "no-async-promise-executor": "off",
    "no-misleading-character-class": "off",
    "no-prototype-builtins": "off",
    "no-shadow-restricted-names": "off",
    "no-useless-catch": "off",
    "no-with": "off",
    "require-atomic-updates": "off",
  }
}
