html,
body {
  height: auto;
}
body {
  font-family: 'Noto Sans JP', メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic',
    sans-serif;
  width: 100%;
  margin: 0;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  color: #000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'palt';
  font-size: 14px;
}
img {
  width: 100%;
}

/*
 * header
 * ============================== */
#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 38px;
  top: 0;
  left: 0;
  background: #fff;
  transition: height 0.1s ease-out;
  .logo {
    position: absolute;
    top: 11px;
    right: 30px;
    width: 80px;
    height: 89px;
    a {
      display: block;
    }
  }
  .nav {
    position: absolute;
    left: 30px;
    top: 0;
    text-align: right;
    li {
      display: inline-block;
      font-size: 12px;
      vertical-align: top;
      a {
        color: #a8884a;
        transition: all 0.1s ease;
        padding: 10.5px 15px;
        box-sizing: border-box;
        display: block;
        font-family: BMW-Bold;
        &:hover {
          color: #624306;
        }
      }
    }
  }
  &.is-active {
    height: 68px;
    .nav {
      li {
        a {
          padding: 25.5px 15px;
        }
      }
    }
    .sns {
      top: 24px;
    }
  }
  .sns {
    position: absolute;
    top: 9px;
    right: 130px;
    transition: top 0.1s ease-out;
    li {
      display: inline-block;
      width: 21px;
      height: 22px;
      text-indent: -999px;
      overflow: hidden;
      margin-left: 15px;
      font-size: 0;
      a {
        display: block;
        height: 22px;
        transition: all 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
      &.icon-fb a {
        background: url(/images/parts/btn_facebook.png) no-repeat center;
        background-size: 21px 22px;
      }
      &.icon-tw a {
        background: url(/images/parts/btn_twitter.png) no-repeat center;
        background-size: 21px 22px;
      }
    }
  }
}

#footer {
  width: 100%;
  height: 13px;
  background: #000;
  overflow: hidden;
  .note {
    font-size: 10px;
    transform-origin: 0 0;
    transform: scale(0.8);
    color: #888;
    display: inline-block;
    vertical-align: top;
  }
  .footer-nav {
    display: inline-block;
    font-size: 10px;
    transform-origin: -320px 3px;
    transform: scale(0.8);
    vertical-align: top;
    &:after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 10px;
      background: #888;
      vertical-align: -1px;
      margin-left: 10px;
    }
    li {
      display: inline-block;
      &:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 10px;
        background: #aaa;
        margin: 0 10px 0 5px;
        vertical-align: -1px;
      }
      a {
        color: #aaa;
      }
    }
  }
  .copyright {
    font-size: 10px;
    transform-origin: -650px 3px;
    vertical-align: top;
    transform: scale(0.8);
    color: #888;
    display: inline-block;
  }
}
